<div class="modal fade" id="validResourceModal-{{ resource.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-light">
                <h5>
                    Etes-vous sur de vouloir valider cette ressource ?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>
                    {{ resource.name }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <a href="/admin/resource/valid/{{ resource.id }}" type="button" class="btn btn-info">Valider</a>
            </div>
        </div>
    </div>
</div>
