body {
  background-color: lightgray;
}

.marge-bottom {
  margin-bottom: 100px;
}

.formulaire-connect {
  display: flex;
  align-content: center;
}

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  display:flex;
  justify-content: center;
}