.logo-navbar {
  height: 40px;
  width: 40px;
}

.btn-res{
  background-color: $green_res;
  color: white;
  border-color: $green_res;
  margin-right: 5px;
  &:hover {
    color: white;
  }
  i {
    color:white;
    margin-right: 10px;
  }
}
