{# ./templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

 {% block title %} Symfony React Project {% endblock %}

 {% block body %}

     <h1> Bienvenue sur Ressources Relationnelles</h1>

 {% endblock %}
