{% extends 'base.html.twig' %}

 {% block title %}Ressources Relationnelles - Page Accueil{% endblock %}

 {% block body %}
     <div class="col m-3">
         <div class="search-card">
             <div class="d-flex search-group">
                 <div class="search-input">
                     <label for="searchBox">Rechercher</label>
                     <input id="searchBox" type="text" class="input-search" placeholder="Rechercher">
                 </div>
                 <div class="relation-select">
                     <label for="searchBox">Relations</label>
                     <select name="relation" id="relation-select" class="select-res">
                         <option value="">Tout</option>
                         {% for relation in relations %}
                         <option value="{{ relation.id }}">{{ relation.name }}</option>
                         {% endfor %}
                     </select>

                 </div>
                 <div class="type-select">
                     <label for="searchBox">Type de ressources</label>
                     <select name="resourceType" id="resourceType-select" class="select-res">
                         <option value="">Tout</option>
                        {%  for key,type in resourceTypes %}
                         <option value="{{ key }}">{{ type }}</option>
                         {% endfor %}
                     </select>
                 </div>
             </div>
             {% include 'includes/ressources/filter.html.twig' with {liste: categories} %}
         </div>

         <div class="d-flex justify-content-center mt-5">
             <div class="row justify-content-center">
                 {% for ressource in resources %}
                     {% include 'pages/ressources/cardRessource.html.twig' with {ressource: ressource} %}
                 {% endfor %}
             </div>
         </div>
     </div>
 {% endblock %}
