{#{% include 'base.html.twig' %}#}
{#{% block body %}#}
<div class="container">
    <div class="mb-3 row">
        {{ form_row(form.user) }}
    </div>
    <div class="row">
        <label for="">Commentaire</label>
        {{ form_widget(form.content,{ 'attr': {'rows': '6'} }) }}
    </div>
    <br>
</div>
{#{% endblock %}#}

