{{ form_start(form, {'action': path('user_update_is_active', {id: id})}) }}
<div class="row">
    {{ form_row(form.isActive) }}
</div>
<div class="mb-3 row">
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}
