.contain-table{
  max-width: 90%;
  margin:0 auto;
}


.dataTables_length > label, .dataTables_filter > label {
  display: flex;
  white-space: nowrap;
  padding-bottom: 10px;
}

.dataTables_length > label > select {
  width: fit-content;
}

.dataTables_filter, .dataTables_paginate {
  display: flex;
  justify-content: flex-end;
}

.dataTables_filter > label > input {
  width: fit-content;
}

@media (max-width: 767.98px) {
  .dataTables_length, .dataTables_filter, .dataTables_paginate, .dataTables_info {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;

  }
}


.btn a {
  color: white;
}

.td-button{
  .btn{
    a, i{
      line-height: 7px;
      text-decoration: none;
    }
    display:flex;
    justify-content:center;
    height:24px;
    width:24px;
  }
}

.table-list {
  list-style: none;
}

