.wrapper {
  margin: 25px auto auto auto;
  width: 90%;
  display:grid;
  grid-template-columns:25% 75%;
  column-gap: 2rem;

  .profil{
    background: white;
    border-radius: 15px;
    height:fit-content;

    ul > li {
      list-style: none;
      margin: 15px;
    }
  }
}