{% extends 'base.html.twig' %}

{% block title %}Ressources{% endblock %}
{% block body %}

    {% for i in elements %}
        <div class="RessourcesList">
            <div>
                <label>
                    Nom :
                </label>
            </div>
            </br>
            <div>
                <label>
                    Catégorie :
                </label>
            </div>
            <div>
                <label>
                    Relation :
                </label>
            </div>
            <div>
                <label>
                    Types :
                </label>
            </div>
            </br>
            <div>
                <label>
                    Contenu :
                    </br>

                </label>
            </div>
        </div>
    {% endfor %}

{% endblock %}