.dataTables_length > label, .dataTables_filter > label {
  display: flex;
  white-space: nowrap;
  padding-bottom: 10px;
}

.dataTables_length > label > select {
  width: fit-content;
}

.dataTables_filter, .dataTables_paginate {
  display: flex;
  justify-content: flex-end;
}

.dataTables_filter > label > input {
  width: fit-content;
}

.text_visible {
  display: flex;
}

.text_hidden {
  display: none;
}

.hover_text:hover {
  .text_hidden {
    transition: all 1s;
    display: flex;
  }

  .text_visible {
    transition: all 1s;
    display: none;
  }
}


