<div class="footer mt-auto py-3 bg-light">
    <div>
        <img class="logo-footer" src="{{ asset('images/ministere_solidarite.png') }}" alt="logo ministère des solidarités et de la santé"/>
    </div>
    <div class="mentions_legales">
        <span>Mentions légales</span>
        <span>Politique de confidentialité</span>
        <span>Aide & contact</span>
        <span>A propos</span>
    </div>
    <div>
        <img class="logo-footer" src="{{ asset('images/logo-creatit.png') }}" alt="logo ministère des solidarités et de la santé"/>
    </div>
</div>
