{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <form method="post">
            <div class="InscriptionBox">
                <h1 class="h3" id="loginH1">Entrez votre nouveau mot de passe</h1>
                <div class="form-floating mb-3">
                    <input type="password" name="password" id="password" placeholder="Entrez votre nouveau mot de passe"
                           class="form-control col-5" required autofocus />
                    <label for="inputNumLicence">Mot de passe</label>
                </div>

                <input type="hidden" name="token" value="{{ token }}">
            </div>
            <div id="loginBtn">
                <button class="btn btn-primary" style="margin: 0 10px" type="submit">Valider</button>
            </div>
        </form>
    </div>
{% endblock %}